<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game mania Angular</title>
</head>

<body>

    <div class="formulario">
        <div class="bloco">
            <h1>Faça o cadastro para continuar</h1>
            <form #userModel="ngForm" (ngSubmit)="onSubmit()">
                <div class="email">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" required>
                </div>
                <!-- modulo de formuilario -->
                <div class="senha">
                    <label for="senha">Senha: </label>
                    <input type="password" id="senha" name="senha" [(ngModel)]="cadastro.senha">
                </div>
                <p *ngIf=" cadastro.email != '' "> Existe email </p>
                <div class="botao">
                    <button class="btn btn-cadastrar" (click)="createCadastro()">Cadastrar</button>
                </div>
                <div class="botao">
                    <button class="btn btn-cadastrar" (click)="cancelarCadastro()">Cancelar</button>
                </div>
                <div class="botao">
                    <button class="btn btn-cadastrar" (click)="tabelasCadastro()">Todos os cadastros</button>
                </div>
            </form>
        </div>
    </div>

    <!-- <a routerLink=" contato ">contato </a> -->
</body>

</html>